<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"></head>
<body>

				<!---top-row--->
				<div class="content"  th:fragment="top-row">
				<div class="top-row">
					<div class="col-xs-4">
						<div class="top-row-col1 text-center">
							<h2>OSCAR</h2>
							<img class="r-img text-center" src="images/img-w.jpg" title="oscar" />
							<a href="single-page.html"><span><img src="images/img-w-hover.jpg" title="oscar" /></span></a>
							<label>Os maiores vencedores do oscar desde sua criação.</label>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="top-row-col1 text-center">
							<h2>CLÁSSICOS</h2>
							<a href="single-page.html"><img class="r-img text-center" src="images/man-r-img.jpg" title="classicos" /></a>
							<a href="single-page.html"><span><img src="images/man-r-img-hover.jpg" title="classicos" /></span></a>
							<label>Grandes clássicos do cinema que marcaram a sétima arte.</label>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="top-row-col1 text-center">
							<h2>AQUELA CENA</h2>
							<a href="single-page.html"><img class="r-img text-center" src="images/kid-r-img.jpg" title="aquelacena" /></a>
							<a href="single-page.html"><span><img src="images/kid-r-img-hover.jpg" title="aquelacena" /></span></a>
							<label>Sabem aquelas históricas cenas de filmes que ficam em nossa cabeça?</label>
						</div>
					</div>
					</div>
					</div>
					<div class="clearfix"> </div>
				<!---top-row--->

</body>
</html>
