<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Após Os Créditos | Home</title>
	<link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />

	<!-- Custom Theme files -->
	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
   	<!-- Custom Theme files -->
   	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
   	<!----webfonts--->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!---//webfonts--->

	<script th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
	<script type="text/javascript" th:src="@{/js/easing.js}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>

	<!---- start-smoth-scrolling---->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
		  rel='stylesheet' type='text/css'>
	<script>
		$(function() {
			var pull = $('#pull');
			menu	= $('nav ul');
			menuHeight	= menu.height();
			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});
			$(window).resize(function(){
				var w = $(window).width();
				if(w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});
		});
	</script>
</head>

<body>

	<!----container---->
	<div class="container">
		<div class="top-header" th:replace="fragmentos/top-header :: cabecalho"></div>

		<div class="top-header-nav" th:replace="fragmentos/top-header-nav :: cabecalho-nav"></div>
	</div>

	<div class="container" layout:fragment="corpo-home">
		<div>conteudo principal das páginas</div>
	</div>

	<div class="footer" th:replace="fragmentos/footer :: rodape">
		<div>footer</div>
	</div>
</body>

</html>
